/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
form {
  display: inline;
}

.passing-score {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.failing-score {
  background-color: #f2dede;
  border-color: #ebccd1;
  color:#a94442;
}